@import "zmienne";
body{
    background-color: $backgroud;
    color: white;
    ul {
        
        background-image: linear-gradient(to bottom, rgb(52, 52, 250), rgb(200, 3, 255));
        justify-content: center;
        align-items: center;
        display: flex;
        list-style-type: none;
        padding: 0.5rem;
        margin: 0;
    }
}